/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 70%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {
	height: 100px;
}

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	float: left;
	width: 30%;
	height: 80%;
}

.main-content {
	height: 500px;
}

.sub-content {
	float: right;
	width: 50%;
	height: 40%;

	margin-bottom: 20px;
}

.sub-content-2 {
	float: right;
	clear: right;
	width: 50%;
	height: 40%;
}

.footer {
	clear: both;
}
