/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 09 */


.header {
	width: 100%;
	margin-bottom: 2%;
}

.container {
	margin: 0 10%;
}

.sidebar {
	float: left;
	width: 34%;
	height: 300px;
}

.main-content {
	float: left;
	width: 34%;
	height: 300px;
}

.sub-content {
	float: left;
	width: 32%;
	height: 300px;
}

.footer {
	clear: both;
	width: 100%;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */