/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 12 */

/* To Do List */
.todolist {
	background-color: #FFFFFF;
	width: 55%;
	margin: 0 auto;
	padding: 2em;
}

/* Individual Todo */
.todo {
	overflow: hidden;
}


/* Priority icon dot */
.icon {
	float: left;
	margin: 0 10px;
}

/* Info of the todo, title and date */
.todo-info {
	float: left;
	margin: 0.5em;
}

/* Title */
.todo-title {}

/* Date */
.todo-date {}

/* Checkboxes! */
input[type=checkbox] {
	float: right;
	margin: 2.5em 2.5em 0 0;
}
