/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.container {
	margin: 0 10%;
	height: 300px;
}

.header {
	width: 100%;
}

.sidebar {
	width: 30%;
	height: 100%;
	float: left;
}

.main-content {
	width: 70%;
	height: 100%;
	float: left;
}

.sub-content {}

.footer {
	width: 100%;
	clear: both;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */