/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 12 */

/* To Do List */
.todolist {
	background-color: #FFFFFF;
	width: 55%;
	margin: 0 auto;
}

/* Individual Todo */
.todo {}


/* Priority icon dot */
.icon {
	float: left;
}

/* Info of the todo, title and date */
.todo-info {}

/* Title */
.todo-title {}

/* Date */
.todo-date {}

/* Checkboxes! */
input[type=checkbox] {
	float: right;
}
