/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {
	width: 100%;
	height: 104px;
}

.logo {
	float: left;
	margin-bottom: 2%;
}

.navigation {
	float: right;
	margin-bottom: 2%;
}

.main-content {
	height: 100%;
	width: 100%;
	clear: both;
}
/* hint! */

.post {}

/* hint! */

.image {
	float: left;
}

.post_excerpt {}
